@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

html {
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    height: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
}

body {
    background-color: $army-green;
    color: #414034;
    font-family: Helvetica,Arial,sans-serif;
    height: 100%;
}

.italics {
    font-style: italic;
}

.bold {
    display: inline;
    font-weight: 700;
}

.strong {
    font-weight: 700;
}

.text {
    float: left;
}

.clearDiv {
    clear: both;
}

.main-container {
    padding: 25px 15px 15px;
    .content-container {
        @include row();
        
        .left-content {
            float: left;
            width: 465px;
        }
        .right-content {
            float: right;
            width: 220px;
            
            h4 {
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 0;
}

h4 {
    margin-bottom: 15px;
}

h3 {
    // border-bottom: 1px solid #74735d;
    color: $army-green;
    // font: 400 24px lato, sans-serif; // don't do this
    font-family: Lato, sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 0 20px;
    text-transform: uppercase;
}

ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

a {
    color: #eeeddb;
    font-weight: 700;
    outline: 0 none;
    text-decoration: none;
    
    @include linkUnderline();
}

p {
    font-size: 0.9em;
    line-height: 18px;
    margin-bottom: 15px;
}