@import 'reset';
@import 'colors';
@import 'mixins';
@import 'defaults';
@import 'images';
@import 'nav';

#wrap {
    margin: 0 auto -0.1em;
    min-height: 100%;
    
    #container {
        background: none repeat scroll 0% 0% #c0bea6;
        border: 1px solid #c5c5b8;
        margin: 0 auto;
        width: 806px;
        
        #whiteBox {
            background-color: #fff;
            border: 1px solid #74735d;
            margin: 15px;
            padding: 14px;
            
            #contentBox {
                border: 1px solid $border;
                clear: both;
                margin: 0 auto;
                position: relative;
                width: 744px;
                
                #header {
                    height: 310px;
                    overflow: hidden;
                    position: relative;
                    
                    #headerStar {
                        // without the background image you cant click the star in IE
                        background: url($army-logo) repeat scroll 0% 0% transparent;
                        display: block;
                        float: left;
                        height: 80px;
                        left: 18px;
                        position: relative;
                        top: 100px;
                        width: 65px;
                        z-index: 1000;
                    }
                }
                
                #pastwinners {
                    a {
                        background: none repeat scroll 0% 0% #af331f;
                        border: 1px solid #c75039;
                        color: #fff;
                        font-family: Lato,sans-serif;
                        font-size: 16px;
                        height: 22px;
                        outline: 1px solid #891e0d;
                        padding: 5px 10px;
                        position: absolute;
                        right: -7px;
                        text-decoration: none;
                        text-transform: uppercase;
                        top: 229px;
                        z-index: 100;
                        
                        span {
                            background-position: 0 0;
                            bottom: 10px;
                            margin-right: 5px;
                            right: 0;
                        }
                        
                        h5 {
                            font-weight: 400;
                            margin-right: 20px;
                        }
                        
                        &:hover, &:focus {
                            background-color: #9d2c1a;
                            border: 1px solid #ba4a35;
                        }
                    }
                    
                    span {
                        background: url($sprite) no-repeat;
                        height: 10px;
                        position: absolute;
                        width: 12px;
                        
                        &#ribbon {
                            background-position: -12px 0;
                            right: -12px;
                            top: 263px;
                        }
                    }
                }
                
            }
        }
    }
}

.main-container {
    .competitor-info-container {
        border-bottom: 1px solid $light-army-green;
        border-top: 1px solid $light-army-green;
        height: 150px;
        margin: 15px 0 30px;
        overflow: auto;
        
        .left-section {
            background-color: $light-army-green;
            float: left;
            height: 100%;
            width: 35%;
            
            .inner-wrap {
                float: left;
                height: 100%;
                padding: 0 20px;
            }
            
            .document-img {
                background: url($document) no-repeat;
                float: left;
                height: 35px;
                margin: 20px 0;
                width: 26px;
            }
            
            h3, h4 {
                color: #fff;
                float: left;
                margin: 0;
                width: 75%; // width doesn't so much matter here, just need it to go to the right of the document-img
            }
            
            h3 {
                font-size: 1.3em;
                padding: 20px 10px 15px;
            }
            
            h4 {
                font-size: 0.8em;
                font-weight: 400;
                line-height: 1;
                padding: 0 0 5px 36px;
                position: relative;
                text-transform: uppercase;
                a {
                    color: #fff;
                }
                span {
                    background: url($sprite) no-repeat;
                    background-position: 0 0;
                    bottom: 10px;
                    height: 10px;
                    margin-left: 10px;
                    position: absolute;
                    top: 0;
                    width: 12px;
                }
            }
        }
        .right-section {
            float: left;
            text-align: center;
            width: 65%;
            
            p {
                color: $army-green;
                font-size: 1.3em;
                line-height: 1.3;
                margin: 0;
                padding: 17px 20px; // 17 because the line height brings it down at the top
            }
        }
    }
    
    .content-container {
        
        .left-content {
            &.top-warrior {
                @include row();
                float: none;
                
                #interview {
                    .question_answer {
                        margin-top: 10px;
                    }

                    p.question {
                        font-weight: 700;
                        margin: 0;
                    }

                    .answer {
                        margin-top: 3px;
                    }
                }
                
                #interview-more {
                    a {
                        color: $brownish-gray;
                        cursor: pointer;
                        
                        &#less {
                            display: none;
                        }
                    }
                }
            }
        }
        
        .bottom-warrior {
            @include row();
            border-top: 1px solid $border;
            margin: 30px 0 0;
            padding: 30px 0 0;
            
            .news-image-wrap {
                @include row();
                
                .inner-wrap {
                    float: left;
                    // width: 350px;
                    width: 48%;
                    
                    &#news {
                        margin-right: 24px;
                    }
                    
                    .list {
                        border: 1px solid $border;
                        height: 400px;
                        h5 {
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0;
                            padding: 0;
                        }
                        p {
                            font-size: 11px;
                            line-height: 15px;
                        }
                        a {
                            color: $brownish-gray;
                        }
                        
                        img {
                            border: 1px solid $border;
                            height: 100px;
                            width: 150px;
                        }
                        
                        .image-list-item {
                            float: left;
                            height: 183.5px;
                            padding: 8px;
                            position: relative;
                            width: 153.5px;
                            
                            &#item-1 {
                                border-bottom: 1px solid $border;
                                border-right: 1px solid $border;
                            }
                            
                            &#item-2 {
                                border-bottom: 1px solid $border;
                            }
                            
                            &#item-3 {
                                border-right: 1px solid $border;
                            }
                            
                            .download {
                                bottom: 5px;
                                color: $brownish-gray;
                                font-size: .75em;
                                position: absolute;
                            }
                        }
                    }
                    
                    .news-item {
                        border-top: 1px solid $border;
                        height: 70px;
                        padding: 5px;
                        
                        &.first {
                            border: medium none;
                        }
                    }
                }
                
                .inner-nav {
                    border-bottom: 1px solid $border;
                    height: 26px;
                    position: relative;
                    text-align: center;
                    width: 100%;
                    
                    .left-nav {
                        background: url($paginate-left) repeat scroll 0% 0% transparent;
                        cursor: pointer;
                        height: 26px;
                        left: 0;
                        position: absolute;
                        width: 26px;
                    }
                    
                    .page {
                        line-height: 26px;
                        margin: 0 auto;
                    }
                    
                    .right-nav {
                        background: url($paginate-right) repeat scroll 0% 0% transparent;
                        cursor: pointer;
                        height: 26px;
                        position: absolute;
                        right: 0;
                        width: 26px;
                    }
                    
                    .nav-display {
                        float: left;
                        width: 296px;
                        
                        p {
                            line-height: 26px;
                            margin: 0;
                            padding: 0;
                            text-align: center;
                            width: 100%;
                        }
                    }
                }
            }
        }
        
        .right-content {
            .text {
                text-align: center;
            
                h3, h4 {
                    margin: 0 auto;
                    line-height: 1.1;
                }
            
                h3 {
                    font-size: 1.3em;
                    margin-bottom: 10px;
                }
                h4 {
                    font-size: 0.8em;
                }
            }
        }
        
        #archive-links {
            font-size: 13px;
            
            li {
                margin: 0 0 10px;
            }
        }
    }
}

#portrait {
    border: 1px solid $border;
    float: right;
    height: 316px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 250px;
    
    img {
        border: 1px solid #fff;
    }
}

.story-block {
    @include row();
    margin-bottom: 25px;
    
    .left-img {
        float: left;
        margin-right: 5px;
        padding: 0;
        width: 150px;
        
        img {
            border: 1px solid $brownish-gray;
        }
    }
    .right-text {
        float: right;
        width: 290px;
        
        h4, p {
            margin-top: 0;
        }
    }
}

.otherlinks {
    margin-top: 10px;
}

.map {
    background: url($map) repeat scroll 0% 0% transparent;
    display: block;
    height: 160px;
    text-indent: -9999px;
    width: 218px;
}

.archive_button {
    background: url($archive-button) repeat scroll 0% 0% transparent;
    clear: both;
    display: block;
    height: 40px;
    margin: 15px 0;
    text-indent: -9999px;
    width: 175px;
}

.links a, .presskit a {
    color: $brownish-gray;
    display: block;
    font-size: 70%;
    font-weight: 400;
    line-height: 20px;
}

.cycle-slideshow, .slideshow {
    height: 310px;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 744px;
}

.left-column {
    float: left;
    width: 477px;
    
    &.news {
        width: 455px;
    }
    
    .intro {
        margin-left: 0;
        padding-bottom: 10px;
    }
    
    &.events {
        width: 460px;
        .event {
            border-top: 1px solid $border;
            margin: 10px 0 0;
            padding: 15px 0 0;
            h5 {
                font-size: 1em;
                width: 445px;
            }
            p {
                font-size: 0.9em;
                margin: 0;
                padding: 0 0 5px;
                width: 445px;
            }
            ul {
                font-size: 0.9em;
                list-style: disc outside none;
                margin-bottom: 7px;
                padding-left: 18px;
                width: 427px;
            }
        }
    }
}

.right-column {
    float: right;
    width: 230px;
}

.embeded-map {
    @include row();
    border-top: 1px solid $border;
    float: left;
    margin: 10px 0 0;
    padding: 30px 0 0;
}

#filter a, .left-column a, #rightCol a, .bio-content a, .intro a {
    color: $brownish-gray;
}

.links {
    width: 240px;
}

#competition_label {
    bottom: 0;
    font-family: Lato,sans-serif;
    font-size: 0.5em;
    padding-bottom: 10px;
    padding-right: 15px;
    position: absolute;
    right: 0;
    z-index: 100;
    
    h1 {
        color: $competition-label;
        font-size: 14px;
        font-weight: 400;
    }
}

#filter {
    float: left;
    margin: 5px 0;
    // width: 730px;
    
    li {
        float: left;
        padding: 0 7px;
        // a {
            // border-right: 1px solid $brownish-gray;
        // }
        &.current, &:hover, &:focus {
            background-color: $brownish-gray;
            a {
                color: #fff;
            }
        }
    }
}

.image-seal {
    background: url($bwc-shield) no-repeat scroll 0% 0% transparent;
    height: 220px;
    margin: 0 auto;
    padding: 0 0 20px;
    width: 212px;
}

.sm-box-top {
    background: url($flickrbox-top) no-repeat scroll 0% 0% transparent;
    height: 10px;
    margin-top: 5px;
    width: 230px;
}

.sm-box-bottom {
    background: url($flickrbox-bottom) no-repeat scroll 0% 0% transparent;
    height: 10px;
    margin-bottom: 15px;
    width: 230px;
}

#footerBar {
    background: url($footer-gradient) repeat scroll 0% 0% transparent;
    bottom: 0;
    height: 120px;
    left: 0;
    min-width: 806px;
    width: 100%;
}

#footer {
    font-size: 75%;
    margin-bottom: 20px;
    margin-top: 45px;
    min-width: 806px;
    text-align: center;
    
    ul {
        li {
            display: inline;
            padding: 0 15px;
            
            a {
                font-weight: 400;
            }
        }
    }
}

/* don't need
#flickr_badge_uber_wrapper a:focus, #flickr_badge_uber_wrapper a:hover, #flickr_badge_uber_wrapper a:link {
    background: inherit !important;
    text-decoration: none !important;
}*/

/*#flickr_badge_uber_wrapper {
    margin: 0 auto;
    text-align: center;
    width: 257px;
}*/

.flickr {
    .flickr-wrap {
        background: url($flickrbox-middle) repeat-y scroll 0% 0% transparent;
        padding: 5px 15px;
        
        .flickr-icon-wrap {
            clear: both;
            margin: 10px 10px 0 5px;
            text-align: left;
        }
    }
    .flickr_badge_image { // inconsistent name because of js or something.... blech
        margin: 0;
        width: inherit;
        img {
            border: 1px solid $flickr-image-border;
            float: left;
            height: 87px;
            margin: 5px;
            text-align: center;
            width: 87px;
        }
    }
    .flickr-icon {
        border: 1px solid $flickr-image-border;
        margin-top: 5px;
        width: 185px;
    }
}

#footerImage {
    background: url($footer-bkgd) no-repeat scroll center center transparent;
    display: block;
    height: 120px;
    margin: 0 auto;
    min-width: 806px;
}

.skip2 a {
    color: #fff;
    display: block;
    font-size: 1.5em;
    font-weight: 700;
    height: 3em;
    left: -10000px;
    position: absolute;
    text-align: center;
    top: auto;
    width: 100%;
    
    &:hover, &:focus {
        background: none repeat scroll 0% 0% #74735d;
        height: auto;
        margin: auto;
        padding: 1em;
        position: static; // why do we have statically positioned elements?!??
        width: auto;
    }
}

.bios {
    float: left;
     width: 100%;
    li {
        float: left;
        margin: 10px 7px 10px 0;
        position: relative;
        width: 49%;
        
        &.hidden {
            display: none;
        }
        
        .bio-content {
            @include row();
            border: 1px solid $army-greenish;
            font-size: 0.8em;
            min-height: 310px;
            position: relative;
            //width: 352px;
            
            .bio-header {
                background-color: $brownish-gray;
                font-size: 1.1em;
                padding: 5px 0 4px 10px;
                margin: 0 0 10px;
                
                a, span {
                    color: #fff;
                }
                
                .command {
                    float: right;
                    font-weight: 400;
                    margin-right: 10px;
                }
            }
            
            .bio-content-image {
                border: 1px solid $army-greenish;
                float: left;
                height: 129px;
                margin: 0 10px;
                
                img {
                    width: 102px;
                }
            }
            
            .bio-content-text {
                float: left;
                width: 200px;
                
                a {
                    font-size: 0.9em;
                    font-weight: 400;
                    text-decoration: underline;
                }
                
                p {
                    margin-bottom: 10px;
                }
            }
            
            .bio-links {
                bottom: 5px;
                left: 10px;
                float: left;
                position: absolute;
                width: 100%;
                
                img {
                    margin: 0 5px 0 0;
                }
                
                a {
                    bottom: 10px;
                    font-weight: 400;
                    position: relative;
                    text-decoration: underline;
                }
            }
            
            .winners {
                margin-left: 10px;
                
                li {
                    font-size: 0.9em;
                    line-height: 1.563; // 18px
                    margin-bottom: 15px;
                }
            }
        }
    }
}

.press {
    .left-column {
        width: 425px;
    }
    .right-column {
        left: 20px;
        position: relative;
        width: 239px;
        div {
            margin: 0 0 20px;
        }
    }
}

#search {
    @include row();
    margin: 0 0 15px 2px;
    max-width: 708px;
    padding: 0;
    position: relative;
    
    .search-button {
        background: #f8f8f8 none repeat scroll 0 0;
        border-bottom: 1px solid #d3d3d3;
        border-left: none;
        border-top: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        color: #333;
        cursor: pointer;
        display: inline-block;
        float: right;
        height: 30px;
        outline: 0 none;
        padding: 0;
        vertical-align: middle;
        white-space: nowrap;
        width: 61px;
        
        span {
            background-image: url($search-sprite);
            background-position: -1px 0;
            background-repeat: no-repeat;
            border: none;
            display: block;
            height: 28px;
            padding: 0;
            text-indent: -10000px;
            width: 61px;
        }
        
        &:hover, &:focus {
            span {
                background-image: url($search-sprite);
                background-position: -62px 0;
                background-repeat: no-repeat;
            }
        }
        &.clear {
            span {
                background-position: url($search-sprite);
                background-position: -1px -30px;
                background-repeat: no-repeat;
            }
            &:hover, &:focus {
                span {
                    background-image: url($search-sprite);
                    background-position: -62px -30px;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    
    .search-terms-border {
        border: 1px solid #ccc;
        box-shadow: 0 1px 2px #eee inset;
        -moz-box-shadow: 0 1px 2px #eee inset;
        -webkit-box-shadow: 0 1px 2px #eee inset;
        
        &:hover, &:focus {
            border-color: #b9b9b9;
            border-top-color: #a0a0a0;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
        }
    }
    
    #search-terms {
        background-color: #fff;
        height: 28px;
        line-height: 30px;
        margin: 0 0 2px;
        overflow: hidden;
        position: relative;
        transition: border-color 0.2s ease 0s;
        -webkit-transition: border-color 0.2s ease 0s;
        -o-transition: border-color 0.2s ease 0s;
        -moz-transition: border-color 0.2s ease 0s;
        
        input {
            background: transparent none repeat scroll 0 0;
            border: 0 none;
            display: inline-block;
            font-size: 0.9em;
            height: 100%;
            left: 0;
            line-height: 30px;
            margin: 0;
            outline: medium none;
            padding: 0 0 0 5px;
            position: absolute;
            width: 100%;
        }
        
        &.focused {
            border: 1px solid #9ecaed;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
            transition: border-color 0.2s ease 0s;
            -webkit-transition: border-color 0.2s ease 0s;
            -o-transition: border-color 0.2s ease 0s;
            -moz-transition: border-color 0.2s ease 0s;
        }
    }
}

.spinner {
    display: none;
    height: 140px;
    position: relative;
}

.show-query {
    display: none;
}

.images {
    float: left;
    margin: 0 auto 15px;
    
    .img-block {
        background:#f4f4ec;
        border:1px solid #c5c4b8;
        float:left;
        height:14em;
        margin:.3em 2px;
        padding:.8em 13px;
        width: 146px;
        
        img {
            margin-bottom:5px;
            width: 100%;
        }
        
        a {
            color: $brownish-gray;
        }
        
        h4, a, p {
            font-size: 0.9em;
            line-height: 1.1em;
            font-weight: 400;
        }
        
        p {
            font-size: 0.75em;
        }
    }
}

.twitter {
    height: 292px;
    
    iframe {
        height: 100%;
    }
}